<div class="row">
  <div class="col-xs-2 btn btn-default" (click)="addNumber(1)">1</div>
  <div class="col-xs-2 btn btn-default" (click)="addNumber(2)">2</div>
  <div class="col-xs-2 btn btn-default" (click)="addNumber(3)">3</div>
  <div class="col-xs-2 btn btn-default" (click)="addNumber(4)">4</div>
  <div class="col-xs-2 btn btn-default" (click)="addNumber(5)">5</div>
</div>
<div class="row">
  <div class="col-xs-2 btn btn-default" (click)="addNumber(6)">6</div>
  <div class="col-xs-2 btn btn-default" (click)="addNumber(7)">7</div>
  <div class="col-xs-2 btn btn-default" (click)="addNumber(8)">8</div>
  <div class="col-xs-2 btn btn-default" (click)="addNumber(9)">9</div>
  <div class="col-xs-2 btn btn-default" (click)="addNumber(0)">0</div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-1 btn btn-default" (click)="delete()"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
  <div class="col-xs-4 btn btn-default" (click)="clear()"><i class="fa fa-eraser" aria-hidden="true"></i></div>
</div>
