.highlight {
  font-size: 72px;
}

input, textarea, select {
  /* remove extra padding on ipad*/
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 1px 1px;
}

input.highlight {
  background-color: yellow;
  width: 112px;
  border: 1px solid #ccc;
  /*-ms-border-radius: 4px;
  border-radius: 4px;*/
}

.form-control {
  height: 100%;
}
