<div class="row">
  <!--content-->
  <div class="col-xs-9">
    <div class="row">
      <div class="col-xs-2 highlight text-center" >{{exercise.task.operands[0]}}</div>
      <div class="col-xs-1 highlight text-center" >{{mathService.getOperatorSymbol(exercise.task.operatorTypes[0])}}</div>
      <div class="col-xs-2 highlight text-center" >{{exercise.task.operands[1]}}</div>
      <div class="col-xs-1 highlight text-center" >=</div>
      <div class="col-xs-2 highlight text-center">
          <span>{{exercise.task.inputTyped}}</span>
      </div>
      <div class="col-xs-1 highlight text-center">
        <!--inputResultType===1 => Success-->
        <span *ngIf="exercise.task.inputResultType===1"><i [@checkResultTrigger]="dummyState" class="glyphicon glyphicon-ok form-control-feedback text-success"></i></span>
        <!--inputResultType===2 => Fixed-->
        <span *ngIf="exercise.task.inputResultType===2"><i [@checkResultTrigger]="dummyState" class="glyphicon glyphicon-ok form-control-feedback text-success"></i></span>
       <!--inputResultType===3 => Failure-->
        <span *ngIf="exercise.task.inputResultType===3"><i [@checkResultTrigger]="dummyState" class="glyphicon glyphicon-remove form-control-feedback text-danger"></i></span>
      </div>
    </div>

    <!--buttons Refresh, Clear, Ok?, Next-->
    <div class="row">
      <div class="col-xs-9">
        <button *ngIf="exercise.isCompleted" (click)="exercise.generateTasks()"><i class="fa fa-refresh fa-spin"></i> Refresh</button>
        <!--<button *ngIf="!exercise.isCompleted" (click)="clear()">Clear</button>-->
        <button *ngIf="!exercise.task.inputResolved" (click)="exercise.check(exercise.task)">Ok ?</button>
        <div *ngIf="!exercise.isCompleted" (click)="exercise.next(exercise.task)" class="btn btn-primary"><i class="fa fa-rocket"></i> Next</div>
      </div>
    </div>
    <!--keypad-->
    <pvo-keypad class="innerBottom" [maxLength]="2" [(numeric)]="exercise.task.inputTyped" (onEnterKey)="exercise.pressedOkOrNext(exercise.task)"></pvo-keypad>
  </div>
  <!--smiles-->
  <div class="col-xs-3">

    <span *ngFor="let task of exercise.tasks" [ngSwitch]="task.inputResultType">
        <span *ngSwitchCase="0"><i [@smileTrigger]="dummyState" class="fa fa-2x fa-genderless "></i></span>
        <span *ngSwitchCase="1"><i [@smileTrigger]="dummyState" class="fa fa-2x fa-smile-o text-success"></i></span>
        <span *ngSwitchCase="2"><i [@smileTrigger]="dummyState" class="fa fa-2x fa-meh-o text-warning"></i></span>
        <span *ngSwitchCase="3"><i [@smileTrigger]="dummyState" class="fa fa-2x fa-frown-o text-danger"></i></span>
    </span>

  </div>
</div>
